{% extends '@FrameworkAdmin/components/listing.html.twig' %}

{% import '@FrameworkAdmin/macros/navigation-macros.html.twig' as navBtn %}
{% import '@FrameworkAdmin/macros/table-btn-macros.html.twig' as tbl %}

{% block box_header %}
    {{ navBtn.list(path(section.list_path), 'btn.list') }}
    {{ navBtn.create(path(section.add_path), 'btn.create') }}
{% endblock %}

{% block listing_table_content %}
    <thead>
    <tr>
        <th width="200">{{ 'table.header.options' | trans }}</th>
        <th width="60">{{ 'table.header.id' | trans }}</th>
        <th>{{ 'table.header.name' | trans }}</th>
        <th width="60">{{ 'table.header.status' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr id="row-{{ item.id }}">
            <td>
                {{ tbl.edit(path(section.edit_path, {id: item.id})) }}
                {{ tbl.delete(item.id, path(section.delete_path)) }}
            </td>
            <td>{{ item.id }}</td>
            <td><a href="{{ path(section.edit_path, {id: item.id}) }}">{{ item.firstName }} {{ item.lastName }}</a></td>
            {{ statusToggle(item, path(section.status_path)) }}
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
