{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<nav aria-label="Pagination">
<ul class="pagination">
    {% if first is defined and current != first %}
        <li class="first">
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
        </li>
    {% endif %}

    {% if previous is defined %}
        <li class="previous">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        <li{% if page == current %} class="active"{% endif %}>
            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
        </li>
        {#{% if page != current %}#}
            {#<li>#}
                {#<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>#}
            {#</li>#}
        {#{% else %}#}
            {#<li class="active">{{ page }}</li>#}
        {#{% endif %}#}

    {% endfor %}

    {% if next is defined %}
        <li class="next">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="last">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
        </li>
    {% endif %}
</ul>
</nav>
{% endif %}
