{% macro list(url, title, icon='fa-list', btnClass='btn-default') %}
    <a href="{{ url }}" class="btn btn-xs {{ btnClass }}"><i class="fa {{ icon }}"></i> {{ title | trans }}</a>
{% endmacro %}

{% macro create(url, title, icon='fa-plus') %}
    {% import _self as navBtn %}
    {{ navBtn.list(url, title, icon, 'btn-success') }}
{% endmacro %}

{% macro edit(url, title, icon='fa-pencil') %}
    {% import _self as navBtn %}
    {{ navBtn.list(url, title, icon, 'btn-primary') }}
{% endmacro %}

{% macro delete(url, title, icon='fa-trash') %}
    {% import _self as navBtn %}
    {{ navBtn.list(url, title, icon, 'btn-danger') }}
{% endmacro %}

