{% macro edit(url) %}
    <a href="{{ url }}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> {{ 'btn.edit' | trans }}</a>
{% endmacro %}

{% macro delete(id, url, icon='fa-trash') %}
    <a href="#"
       data-url="{{ url }}"
       id="delete-{{ id }}"
       data-id="{{ id }}"
       class="delete-item btn btn-xs btn-danger">
        <i class="fa fa-trash"></i> {{ 'btn.delete' | trans }}</a>
{% endmacro %}

