<script src="/bundles/frameworkadmin/plugins/tinymce/tinymce.min.js"></script>
<script>
  $(document).ready(function() {

    let imagesListUrl = '{{ images_list_url | default('') }}';

    let templatesList = [];
    {% for tpl in templates %}
    templatesList.push({
      title: '{{ tpl.title }}',
      url: '{{ path('adm_cms_template_view', {id: tpl.id}) }}'
    });
    {% endfor %}

    let tinymceConfig = {
      plugins: [
        'advlist',
        'autolink',
        'anchor',
        'code',
        'codesample',
        'contextmenu',
        'colorpicker',
        'charmap',
        'directionality',
        'fullscreen',
        'hr',
        'image',
        'imagetools',
        'insertdatetime',
        'help',
        'link',
        'lists',
        'media',
        'pagebreak',
        'imagetools',
        'paste',
        'print',
        'nonbreaking',
        'save',
        'searchreplace',
        'table',
        'template',
        'textcolor',
        'textpattern',
        'toc',
        'visualblocks',
        'visualchars',
        'wordcount',
      ]
    };

    tinymce.init({
      selector: '.html-edit',
      height: 500,
      branding: false,

      theme : "modern",

      plugins: tinymceConfig.plugins.join(' '),
      toolbar1 : "save,newdocument,|,cut,copy,paste,pastetext,|,undo,redo,|,template,link,unlink,anchor,|,image,editimage,|,code,codesample,blockquote,|,styleselect,formatselect,hr",
      toolbar2: 'bold,italic,strikethrough,forecolor,backcolor,removeformat | alignleft aligncenter alignright alignjustify ' +
      '| numlist bullist outdent indent,|,subscript,superscript,|,toc',

      templates: templatesList,

      relative_urls: false,

      image_list: imagesListUrl,
      content_css: [
        '{{ site_url }}/css/external.css',
        '{{ site_url }}/css/app.css'
      ]
    });
  });
</script>
