{% extends 'FrameworkAdminBundle::layout.html.twig' %}

{% block box_header %}
    <a href="{{ path(section.list_path) }}" class="btn btn-xs btn-github"><i class="fa fa-list"></i> {{ 'btn.list' | trans }}</a>
    {% if section.add_path != '' %}
    <a href="{{ path(section.add_path) }}" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> {{ 'btn.create' | trans }}</a>
    {% endif %}
{% endblock %}

{% block body %}

    {% block body_form %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="box-body2">
            {{ form_widget(form) }}
        </div>

        <div class="box-footer">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="submit" class="btn btn-success" value="{{ 'btn.save' | trans }}">
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    {% endblock %}

    {% block body_upload %}
    {% if id > 0 and upload_type != '' %}
        {% include '@FrameworkAdmin/components/upload-images.html.twig' with { type: upload_type } %}
    {% endif %}
    {% endblock %}

{% endblock %}

{% block js %}
    {{ parent() }}
    {% if html_editor is defined and html_editor %}
        {% include 'FrameworkAdminBundle:components:_html-editor.html.twig' %}
    {% endif %}
    {% if id is defined and id > 0 and upload_type is defined and upload_type != '' %}
        {% include '@FrameworkAdmin/components/upload-images-js.html.twig' %}
    {% endif %}
{% endblock %}
