{% extends 'FrameworkAdminBundle::layout.html.twig' %}

{% block body %}

    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover">
            {% block listing_table_content %}{% endblock %}
        </table>
    </div>
    {% if pagination is defined %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% endif %}

{% endblock %}
