<div id="my-dropzone" class="dropzone" data-action="{{ path('adm_upload', {type: type | default('none'), id: id}) }}"></div>
<div class="clearfix"></div>

<div class="desp-20"></div>
<div class="row" id="files-list">
    {% if attached is defined and attached | length > 0 %}
        {% for img in attached %}
            <div class="col-sm-2 col-md-2" id="row-{{ img.id }}">
                <div class="thumbnail">
                    <a href="{{ thumb(img.directory, 800, 0, img.filename) }}" data-lightbox="page" data-title="{{ img.filename }}"><img src="{{ thumb(img.directory, 200, 200, img.filename) }}" class="img-responsive" alt="{{ img.title }}" /></a>
                    <div class="caption">
                        <p>{{ img.title }}</p>
                        <p class="img-buttons" id="img-buttons-{{ img.id }}" data-id-thumb="{{ img.id }}">
                            <a href="#" class="btn btn-info btn-xs" role="button"><i class="fa fa-edit"></i> Change title</a>
                            <a href="#" class="btn btn-danger btn-xs remove-image" data-type="{{ type }}" data-id="{{ img.id }}" role="button"><i class="fa fa-trash"></i> Remove</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<script type="html/template" id="thumb-tpl">
    <div class="col-sm-2 col-md-2" id="row-{id}">
        <div class="thumbnail">
            <img src="{url}" class="img-responsive" alt="{title}" />
            <div class="caption">
                <p>{title}</p>
                <p class="img-buttons" id="img-buttons-{id}" data-id-thumb="{id}">
                    <a href="#" class="btn btn-info btn-xs" role="button"><i class="fa fa-edit"></i> Change title</a>
                    <a href="#" class="btn btn-danger btn-xs remove-image" data-type="{{ type }}" data-id="{id}" role="button"><i class="fa fa-trash"></i> Remove</a>
                </p>
            </div>
        </div>
    </div>
</script>
