<script>
  Dropzone.autoDiscover = false;

  $(document).ready(function(){

    let myDz = new Dropzone('#my-dropzone', {
      url: $('#my-dropzone').data('action'),
      maxFilesize: 1024,
      maxFiles: 10,
      parallelUploads: 5,
      autoProcessQueue: true,
      dictDefaultMessage: "{{ 'dropzone.dictDefaultMessage' | trans }}",
      dictFallbackMessage: "{{ 'dropzone.dictFallbackMessage' | trans }}",
      dictFallbackText: "{{ 'dropzone.dictFallbackText' | trans }}",
      dictFileTooBig: "{{ 'dropzone.dictFileTooBig' | trans }}",
      dictInvalidFileType: "{{ 'dropzone.dictInvalidFileType' | trans }}",
      dictResponseError: "{{ 'dropzone.dictResponseError' | trans }}",
      dictCancelUpload: "{{ 'dropzone.dictCancelUpload' | trans }}",
      dictCancelUploadConfirmation: "{{ 'dropzone.dictCancelUploadConfirmation' | trans }}",
      dictRemoveFile: "{{ 'dropzone.dictRemoveFile' | trans }}",
      dictRemoveFileConfirmation: "{{ 'dropzone.dictRemoveFileConfirmation' | trans }}",
      dictMaxFilesExceeded: "{{ 'dropzone.dictMaxFilesExceeded' | trans }}"
    });

    myDz.on("success", function(file, response){

      if (response.code === 200) {
        let template = $('#thumb-tpl').html();

        $('#files-list').append(template.formatString(response));
        file.previewElement.remove();

        return null;
      }
    });
  });
</script>
