<script>
  let admin = {
    url: {
      publish_website: '{{ path('adm_maintenance_collectors_export') }}'
    }
  };
</script>
<script src="/js/external-{{ commit_short_sha | default('latest') }}.js"></script>
<script src="/js/app-{{ commit_short_sha | default('latest') }}.js"></script>
