<link rel="stylesheet" href="/css/external-{{ commit_short_sha | default('latest') }}.css" />
<link rel="stylesheet" href="/css/app-{{ commit_short_sha | default('latest') }}.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
