<script>
  'use strict';
  let trans = {
    swal: {
      remove: {
        confirm: {
          title: "{{ 'trans.swal.remove.confirm.title' | trans }}",
          text: "{{ 'trans.swal.remove.confirm.text' | trans }}"
        }
      }
    }
  };
</script>
