<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ seo_title | default('Admin Site') }}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '@FrameworkAdmin/favicon.html.twig' -%}

    {% block css %}
    {% include '@FrameworkAdmin/header-css.html.twig' %}
    {% endblock %}
    {% block header_js %}
    {% include '@FrameworkAdmin/header-js.html.twig' %}
    {% endblock %}

    {% include '@FrameworkAdmin/extra-header.html.twig' %}

</head>
<body class="{{ body_class | default('hold-transition skin-blue sidebar-mini') }}">
<div class="wrapper">
{% block body_wrapper %}

    {% include '@FrameworkAdmin/main-header.html.twig' %}
    {% include '@FrameworkAdmin/main-sidebar.html.twig' %}
    <div class="content-wrapper">
        <section class="content">

            {% include '@FrameworkAdmin/components/_flash-messages.html.twig' %}

            {% block body_box %}
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <h3 class="box-title">{% block section_title %}{{ section_title | default('') | trans }}{% endblock %}</h3>
                            </div>
                            <div class="col-xs-12 col-sm-8 text-right">
                                {% block box_header %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </section>
    </div>
    {% include '@FrameworkAdmin/main-footer.html.twig' %}

{% endblock %}
</div>

{% block js %}
{% include '@FrameworkAdmin/footer-js.html.twig' %}
{% endblock %}

{% include '@FrameworkAdmin/ending-elements.html.twig' %}
</body>
</html>
