<aside class="main-sidebar">
    <section class="sidebar">
        {% include '@FrameworkAdmin/sidebar-search.html.twig' %}
        {% include '@FrameworkAdmin/sidebar-navigation.html.twig' %}
    </section>
</aside>
