<header class="main-header">
    <a href="{{ path('adm_homepage') }}" class="logo">
        <span class="logo-mini"><b><i class="fa fa-user-md"></i></b></span>
        <span class="logo-lg"><b>{{ 'header.administration' | trans }}</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% if app.user %}
                <li><a href="{{ path('adm_admin_user_edit', {id: app.user.id}) }}"><i class="fa fa-cog"></i> <span class="hidden-xs">{{ 'header.my_account' | trans }}</span></a></li>
                {% endif %}
                {% if false %}
                <li><a href="#" class="publish_website"><i class="fa fa-plane"></i> <span class="hidden-xs">{{ 'header.publish_website' | trans }}</span></a></li>
                {% endif %}
                <li><a href="{{ site_url }}" target="_blank"><i class="fa fa-eye"></i> <span class="hidden-xs">{{ 'header.view_website' | trans }}</span></a></li>
                <li>
                    <a href="{{ path('security_logout') }}"><i class="fa fa-sign-out"></i> <span class="hidden-xs">{{ 'header.logout' | trans }}</span></a>
                </li>
            </ul>
        </div>

        {% if allow_search is defined and allow_search == 'true' %}
            <form action="" method="get" class="sidebar-form d-flex">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="{{ 'sidebar.input.search' | trans }}" value="{{ app.request.query.get('q') }}">
                    <span class="input-group-btn">
                        <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        {% endif %}
    </nav>
</header>
