<footer class="main-footer">
    <div class="pull-right hidden-xs">
        {#<b>Version</b> 2.4.0#}
        <b>Last deployment</b> {{ get_last_deployment() }}
    </div>
    <strong>Copyright &copy; {{ 'now' | date('Y') }} <a href="{{ site_url }}" target="_blank">{{ website_name }}</a>.</strong> All rights reserved.
</footer>
