{% set route = app.request.attributes.get('_route') %}

<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
    {% for nav in navigation %}
        {% if nav.is_header %}
        <li class="header">{{ nav.label | trans }}</li>
        {% else %}
        <li class="{% if nav.mathc_route is defined and match(nav.match_route, route) %}active{% endif %}">
            <a href="{% if nav.path is defined %}{{ path(nav.path) }}{% endif %}{% if nav.url is defined %}{{ nav.url }}{% endif %}"{% if nav.new_tab is defined and nav.new_tab %} target="_blank"{% endif %}>
                <i class="fa {{ nav.icon | default('fa-circle') }}"></i> <span>{{ nav.label | trans }}</span>
            </a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
