{#{% if allow_search is defined and allow_search == 'true' %}#}
{#    <form action="" method="get" class="sidebar-form">#}
{#        <div class="input-group">#}
{#            <input type="text" name="q" class="form-control" placeholder="{{ 'sidebar.input.search' | trans }}" value="{{ app.request.query.get('q') }}">#}
{#            <span class="input-group-btn">#}
{#                <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>#}
{#            </span>#}
{#        </div>#}
{#    </form>#}
{#{% endif %}#}
