{% extends 'FrameworkAdminBundle::layout.html.twig' %}

{% set body_class = 'hold-transition login-page' %}

{% block header_js '' %}

{% block body_wrapper %}

    <div class="login-box">
        <div class="login-logo">
            <b>Admin</b>
        </div>
        <div class="login-box-body">

            <p class="login-box-msg">{{ website_name }}</p>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey | trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path('security_login') }}" id="login_form" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="Email" name="_username" value="{{ last_username }}"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="_password"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <button type="submit" id="submit_btn" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </form>
            <div class="cleafix"></div>

        </div>
    </div>
        {#
    {{ form_start(form) }}

        {{ form_row(form._username) }}
        {{ form_row(form._password) }}

        <button class="btn btn-sm btn-primary">Login <i class="fa fa-lock"></i></button>

    {{ form_end(form) }}
        #}
    {#</div>#}
{% endblock %}
